.App {
    /* dimension */
    height: 90%;
    width: 100%;

    /* position */
    position: relative;
    top: 5%;
    bottom: 5%;

    /* display */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}